[submodule "build/lib/boost-cmake"]
	path = build/lib/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
[submodule "lib/boost-cmake"]
	path = lib/boost-cmake
	url = https://github.com/Orphis/boost-cmake.git
